body {
	padding: 10px;
}

.container {
	width: 75%;
	margin: 0 auto;
	text-align: center;
}

.container h1 {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Verdana, Georgia, sans-serif;
}

.header-wrap {
	margin: 0 auto;
}

#startgame {
	-moz-box-shadow:inset 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow:inset 0px 39px 0px -24px #e67a73;
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:21px;
	padding:11px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	transition: background-color: 0.15s ease-in-out;
	display: none;
}
#startgame:hover {
	background-color:#eb675e;
}
#startgame:active {
	position:relative;
	top:1px;
}

#message {
	margin-top: 20px;
}

#user-message, #countdown {
	display: none;
	color: #0d39d8;
	font-size: 1.3em;
	font-weight: bold;	
}

/* ========================
	STYLES FOR USER MODE
========================= */
#difficulty-selection {
	width: 30%;
	margin: 0 auto;
}

#difficulty-selection .mode {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 30px 10px;
	border-radius: 10px;
	background-color: rgba(235, 103, 94, 0.3);
	cursor: pointer;
	display: block;
	width: 250px;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 1px 5px -1px rgba(38,38,38,1);
	-moz-box-shadow: 0px 1px 5px -1px rgba(38,38,38,1);
	box-shadow: 0px 1px 5px -1px rgba(38,38,38,1);
	text-shadow: 0px 2px 10px rgba(229, 127, 155, 0.9);
	transition: all 0.1s ease-in-out;
	border: 1px solid rgba(235, 103, 94, 0.8);
	font-size: 1.3em;
}

#difficulty-selection .mode:hover {
	background-color: rgba(235, 103, 94, 0.5);
}


/* =========================
	STLYES FOR GAME BOARD
============================ */
#game {
	margin-top: 20px;
	position: relative;
}
#gameboard {
	margin: 0 auto;
	font-size: 0;
	width: 70%;
	width: 500px;
}

.row {
	display: inline-block;
	width: 100%;
	height: 25px;
}

.cell {
	display: inline-block;
	width: 25px;
	height: 25px;
	border: 1px solid #000;

	/* Include border in the width of the cell in order to be 25px * 20 cells nicely in the 500px container */
	box-sizing: border-box;	
}

/* Remove overlapping borders */
.row:not(:last-child) .cell {
	border-bottom: none;
}

.cell:not(:last-child) {
	border-right: none;
}

.snake {
	background-image: url("img/cat.jpg");
	background-size: 25px 25px;
}

.food {
	background-image: url("img/mouse.jpg");
	background-size: 25px 25px;
}

#score {
	display: none;
}

/* Result */
#result {
	background-color: rgba(255, 89, 89, 0.4);
	position: absolute;
	color: blue;
	font-weight: bold;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
	padding: 20px;
	display: none;
	border-radius: 6px;
	font-size: 1.5em;
}

